/***************** CSS RESET ******************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
 font-family: 'Raleway', sans-serif;
 font-weight:300;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 display: block;
}

body {
 line-height: 1;
}

ol, ul {
 list-style: none;
}

blockquote, q {
 quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}

table {
 border-collapse: collapse;
 border-spacing: 0;
}

a, a:link, a:hover, a:visited, a:active {
	text-decoration: none;
}



/************* TITULO DAS PÁGINAS **********/
.page-title h1 {
	margin-top:20px;
	padding-bottom:5px;
	font-size:26px;
	text-transform:uppercase;
	display:block;
}

.page-title h1 strong {
	font-weight:500;
}

.page-title hr {
	height:6px;
	width:40px;
	background-color:#e74c3c;
	float:left;
	margin-top:5px;
	display:block;
	margin-right:100%;
}


/***************** BOTÕES ******************/
.none {
	display:none;
}

.btn-circle {
	height:80px;
	width:80px;
	padding:25px;
}

.btn-circle > span {
	display:block;
	text-transform:uppercase;
	font-weight:400;
}

.fa {
	font-size:30px
}

.btn-alizarin {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.btn-alizarin:hover,
.btn-alizarin:focus,
.btn-alizarin:active,
.btn-emerald.active,
.open > .dropdown-toggle.btn-emerald {
  color: #fff;
  background-color: #c0392b;
  border-color: #c0392b;
}
.btn-alizarin:active,
.btn-emerald.active,
.open > .dropdown-toggle.btn-emerald {  
  background-image: none;
}
.btn-alizarin.disabled,
.btn-nalizarin[disabled],
fieldset[disabled] .btn-alizarin,
.btn-alizarin.disabled:hover,
.btn-alizarin[disabled]:hover,
fieldset[disabled] .btn-alizarin:hover,
.btn-alizarin.disabled:focus,
.btn-alizarin[disabled]:focus,
fieldset[disabled] .btn-alizarin:focus,
.btn-alizarin.disabled:active,
.btn-alizarin[disabled]:active,
fieldset[disabled] .btn-alizarin:active,
.btn-alizarin.disabled.active,
.btn-alizarin[disabled].active,
fieldset[disabled] .btn-alizarin.active {
  background-color: #c0392b;
  border-color: #c0392b;
}

.btn-emerald {
  color: #fff;
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.btn-emerald:hover,
.btn-emerald:focus,
.btn-emerald:active,
.btn-emerald.active,
.open > .dropdown-toggle.btn-emerald {
  color: #fff;
  background-color: #16a085;
  border-color: #16a085;
}
.btn-emerald:active,
.btn-emerald.active,
.open > .dropdown-toggle.btn-emerald {
  background-image: none;
}
.btn-emerald.disabled,
.btn-emerald[disabled],
fieldset[disabled] .btn-emerald,
.btn-emerald.disabled:hover,
.btn-emerald[disabled]:hover,
fieldset[disabled] .btn-emerald:hover,
.btn-emerald.disabled:focus,
.btn-emerald[disabled]:focus,
fieldset[disabled] .btn-emerald:focus,
.btn-emerald.disabled:active,
.btn-emerald[disabled]:active,
fieldset[disabled] .btn-emerald:active,
.btn-emerald.disabled.active,
.btn-emerald[disabled].active,
fieldset[disabled] .btn-emerald.active {
  background-color: #16a085;
  border-color: #16a085;
}


.btn-asphalt {
  color: #fff;
  background-color: #34495e;
  border-color: #34495e;
}
.btn-asphalt:hover,
.btn-asphalt:focus,
.btn-asphalt:active,
.btn-asphalt.active,
.open > .dropdown-toggle.btn-asphalt {
  color: #fff;
  background-color: #2c3e50;
  border-color: #2c3e50;
}
.btn-asphalt:active,
.btn-asphalt.active,
.open > .dropdown-toggle.btn-asphalt {
  background-image: none;
}
.btn-asphalt.disabled,
.btn-asphalt[disabled],
fieldset[disabled] .btn-asphalt,
.btn-asphalt.disabled:hover,
.btn-asphalt[disabled]:hover,
fieldset[disabled] .btn-asphalt:hover,
.btn-asphalt.disabled:focus,
.btn-asphalt[disabled]:focus,
fieldset[disabled] .btn-asphalt:focus,
.btn-asphalt.disabled:active,
.btn-asphalt[disabled]:active,
fieldset[disabled] .btn-asphalt:active,
.btn-asphalt.disabled.active,
.btn-asphalt[disabled].active,
fieldset[disabled] .btn-asphalt.active {
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.btn-amethyst {
  color: #fff;
  background-color: #9b59b6;
  border-color: #9b59b6;
}
.btn-amethyst:hover,
.btn-amethyst:focus,
.btn-amethyst:active,
.btn-amethyst.active,
.open > .dropdown-toggle.btn-amethyst {
  color: #fff;
  background-color: #8e44ad;
  border-color: #8e44ad;
}
.btn-amethyst:active,
.btn-amethyst.active,
.open > .dropdown-toggle.btn-amethyst {
  background-image: none;
}
.btn-amethyst.disabled,
.btn-amethyst[disabled],
fieldset[disabled] .btn-amethyst,
.btn-amethyst.disabled:hover,
.btn-amethyst[disabled]:hover,
fieldset[disabled] .btn-amethyst:hover,
.btn-amethyst.disabled:focus,
.btn-amethyst[disabled]:focus,
fieldset[disabled] .btn-amethyst:focus,
.btn-amethyst.disabled:active,
.btn-amethyst[disabled]:active,
fieldset[disabled] .btn-amethyst:active,
.btn-amethyst.disabled.active,
.btn-amethyst[disabled].active,
fieldset[disabled] .btn-amethyst.active {
  background-color: #8e44ad;
  border-color: #8e44ad;
}




/***************** NAVBAR ******************/

ul.navbar-nav > li > a {
	font-weight:400;
}

ul.navbar-nav > li.normal {
	background-color: #e74c3c;
}

ul.navbar-nav > li > .nav-hover {
	display:none;
	position:absolute;
	width:100%;
	height:80px;
	background-color: #e74c3c;
}

ul#onepage > li.current a{
	color:#fff!important;
	background-color: #e74c3c;
}


/***************** SLIDER *********************/
#slider {
	margin-top:-90px;
	padding-top:90px;
	background-color:#ecf0f1;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZjBmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgyJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2YwZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ecf0f1 0%, #ffffff 19%, #ffffff 82%, #ecf0f1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ecf0f1), color-stop(19%,#ffffff), color-stop(82%,#ffffff), color-stop(100%,#ecf0f1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ecf0f1 0%,#ffffff 19%,#ffffff 82%,#ecf0f1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ecf0f1 0%,#ffffff 19%,#ffffff 82%,#ecf0f1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ecf0f1 0%,#ffffff 19%,#ffffff 82%,#ecf0f1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ecf0f1 0%,#ffffff 19%,#ffffff 82%,#ecf0f1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf0f1', endColorstr='#ecf0f1',GradientType=0 ); /* IE6-8 */
}



/***************** SOBRE MIM ******************/
#about {
	padding-top:90px;
}

#about .row-comment hr {
	margin-top:0;
	margin-bottom:20px;
	padding: 0;
}

#about .block-comment {
	display:block;
	line-height:30px;
}

#about .block-comment .quotes-left {
	font-family:'Arial', sans-serif;
	font-size:100px;
	color:#c0392b;
	padding-top:10px;
	display:block;
	text-align:right;
	line-height:100px;
}

#about .block-comment .quotes-right {
	font-family:'Arial', sans-serif;
	font-size:100px;
	color:#c0392b;
	padding-top:10px;
	display:block;
	text-align:left;
	line-height:100px;
}

#about .comment {
	font-size:22px;
}

#about .comment strong {
	font-weight:500;
	color:#e74c3c;
	font-size:30px;
}

#about .content {
	clear:both;
	line-height:25px;
	display:block;
}

#about .content p {
	margin:20px 0;
}

#about .content h1 {
	font-size:26px;
	text-transform:uppercase;
	display:block;
}

#about .content h1 strong {
	font-weight:500;
}

#about .content hr {
	height:6px;
	width:40px;
	background-color:#e74c3c;
	float:left;
	margin-top:5px;
	display:block;
	margin-right:100%;
}

#about .skills {
	margin-top:30px;
}

#about .text-effect {
	padding-left:50px;
}

#about .text-effect .symbol {
	float:left;
	font-size:320px;
	font-weight:100;
	width:20%;
	position:relative;
	text-align:left;
	color:#e74c3c;
}

#about .text-effect .fields {
	float:left;
	font-size:40px;
	width:80%;
	margin-top:40px;
}

#about .text-effect .fields .word {
	color:#e74c3c;
	font-weight:500;
	display:block;
}




/***************** SERVIÇOS ******************/
#services {
	padding-top:90px;
	display: block;
	line-height:16px;
}

#services .service {
	padding: 0 30px;
	min-height:200px;
}

#services .service a {
	color: #333;
}

#services .service a:hover {
	color: #999;
}

#services .service a .subtitle {
	display:block;
	margin-top:5px;
	font-size:14px;
}

#services .service a .title {
	font-size:16px;
	margin-top:15px;
	display:block;
	font-weight:600;
}




/***************** PORTFOLIO ******************/
#portfolio {
	padding-top:90px;
	display: block;
	line-height:16px;
}

#portfolio .item .title {
	width:100%;
	font-weight: 600;
}

#portfolio .item .division hr {
	width: 60%;
	margin: 5px auto 2px auto;
}

#portfolio .item .works {
	margin: 5px 0;
	text-align:center;
	margin:0 auto;
}

#portfolio .item .works span {
	padding: 0 5px;
	font-size: 10px;
	margin:0 auto;
}

#portfolio .item .works span a {
	color: #e74c3c;
	text-transform:uppercase;
}

#portfolio .item .works span a:hover {
	color: #c0392b;
}

#portfolio .item .description {
	font-size:14px;
	clear:both;
	margin:15px 0;
}
#portfolio .item .btn-group {
	margin:10px 0;
}

#portfolio .item .btn-group .fa {
	margin-right: 5px;
	top:0;
	font-size: 9px;
}

/***************** CONTATO ******************/
#contact {
	padding-top:90px;
	display: block;
}

#contact h3 {
	font-size:26px;
	line-height:28px;
	font-weight:400;
}

#contact p, #contact p i {
	font-size:16px;
	margin:10px;
}

#contact p, #contact p i, #contact p a {
	font-weight:400;
}

#contact p a, #contact p i {
	color:#e74c3c;
}

#contact p a:hover {
	color:#c0392b;
}

#contact label {
	margin-bottom:10px;
}

#contact #sendFail .alert {
	background-color:#d43f3a;
	padding:10px 15px;
	display:none;
	color:#fff;
	text-align:center;
}

#contact #sendFail .alert a {
	color:#fff;
	font-weight:600;
}

#contact #sendFail .alert strong {
	font-weight:600;
}

#contact #sendOk .alert {
	background-color:#5cb85c;
	padding:10px 15px;
	display:none;
	color:#fff;
	text-align:center;
}



/***************** RODAPÉ ******************/
footer {
	width:100%;
	margin-top:20px;
	padding:25px 0;
	background-color:#f8f8f8;
}

footer a {
	color:#e74c3c;
}

footer a:hover {
	color:#c0392b;
}

footer address {
	font-size: 12px;
	margin-top:10px;
}

footer hr {
	height:1px;
	background-color:#F0F0F0;
	width:100%;
	margin: 5px 0;
}

footer .contact {
	padding:2px 0;
}

footer .contact p .fa {
	color:#A0A0A0;
}






/***************** MÍDIAS ******************/
@media (min-width: 768px) {
	
 header .navbar-brand {
	margin-top: 5px;
 }

 header .navbar-brand .brand-title {
	color:#e74c3c;
	text-transform:uppercase;
	font-weight:300;
	display:block;
	font-size:28px;
 }

 header .navbar-brand .brand-subtitle {
	margin-top:5px;
	font-size:14px;
	display:block;
 }

 header, .navbar, .navbar-header {
	height: 80px;
 }
 
 footer {
	bottom:0;
 }

 footer .contact p {
	margin: 7px 0;
	font-size: 14px;
 }
 
 footer .contact p .fa {
	font-size: 11px;
	margin: 0 10px;
 }

 footer .contact .social {
	background-color: #e74c3c;
	height: 25px;
	width: 25px;
	float:right;
	border-radius:10%;
	margin: 2px 5px;
 }

 footer .contact .social:hover {
	background-color: #c0392b;
 }

 footer .contact .social a{
	color:#fff;
 }

 footer .contact .social a .fa {
	font-size:16px;
 }
 
 footer .contact .social a .github {
	padding:4px 5px;
 }
 
 footer .contact .social a .behance {
	padding:4px;
 }
 
 footer .contact .social a .linkedin {
	padding:4px 6px;
 }

}




/***************** MOBILE ******************/

@media (min-width: 768px) and (max-width: 970px) {
  footer .contact p {
	margin:5px 0;
	text-align:center;
	font-size: 16px;
  }
 
  footer .contact #socials {
  	width: 135px;
 	margin: 5px auto;
 }
}

@media (max-width: 767px) {

 header .navbar-brand .brand-title {
	color:#fff;
	font-size:1em;
	text-transform:uppercase;
	font-weight:300;
	display:block;
 }

 header .navbar-brand .brand-subtitle {
 	color:#fff;
	font-size:0.7em;
	display:block;
 }
 
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #EE8277;
}

 header .navbar .nav > li > a {
	float: none;
	padding: 17px 15px 17px;
	border-bottom:1px solid #EE8277;
	color:#fff;
 }

 header .navbar-default,  ul.navbar-nav > li > a {
	background-color: #e74c3c;
 }
 
 #about .block-comment {
	margin-bottom:15px;
}
 
 footer .contact p {
	margin:5px 0;
	text-align:center;
	font-size: 16px;
 }
 
 footer .contact p .fa {
	font-size: 12px;
	margin: 0 5px;
 }
 
 footer .contact .social {
	background-color: #e74c3c;
	height: 25px;
	width: 28%;
	padding: 4px 0;
	float:right;
	border-radius:10%;
	margin: 5% 1%;
	text-align:center;
 }

 footer .contact .social:hover {
	background-color: #c0392b;
 }

 footer .contact .social a {
	color:#fff;
	font-size: 12px;
 }
 
  footer .contact .social a span{
	font-weight:500;
 }

}